:root {
  --board-width-xs: 200px;
  --board-width-sm: 500px;
  --board-width-m: 700px;
  --board-width-l: 900px;
  --board-width-xl: 1100px;
  --board-color: rgb(176, 218, 176);
  --lit-pixel-color: rgba(50, 50, 50, 0.8);
}

html {
  height: 100vh;
}

body {
  font-family: sans-serif;
  font-size: 2em;
  background-color: rgb(240, 250, 250);
  color: rgba(50, 50, 50, 0.9);
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div {
  box-sizing: border-box;
}

#mainHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#score {
  font-weight: bold;
}

#board {
  background-color: var(--board-color);
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (orientation: landscape) {
  #board {
    height: 80vh;
    width: 80vh;
  }
}
@media (orientation: portrait) {
  #board {
    height: 80vw;
    width: 80vw;
  }
}

#board .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#board .row .pixel {
  border: 1px solid rgba(100, 100, 100, 0.5);
}

#board .row .pixel.lit {
  background-color: var(--lit-pixel-color);
}
